.card-wrapper {
    width: 100%;
    height: 100%;
    
    outline: none;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border: 2px solid #e6e6e6;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: rgb(214, 214, 214) 0px 0px 5px;
    transition: 0.2s ease-in-out;
}

.ticket-title-span {
    width: 100%;
    margin: 5px 0 15px;
    overflow: hidden;
    display: flex;
}

.ticket-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-upper-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.card-lower-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
}

.user-container {
    width: 25px;
    height: 25px;
    position: relative;
}
  
.user-icon {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    z-index: -1;
}
  
.user-status-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid white;
    bottom: -3px;
    right: -3px;
    position: absolute;
}

.status-icon {
    margin-right: 10px;
    padding-top: 2px;
}

.ticket-title {
    width: 85%;
    font-size: 1rem;
    font-weight: 600;
    color: #4f4f4f;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    line-height: initial;
}

.tag-wrapper {
    color: #5f5f5f;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 2px 4px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    font-weight: 500;
}

.priority-icon-wrapper {
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.tag-name {
    font-size: 0.9rem;
}

.ticket-id {
    color: #6f6f6f;
    font-weight: 500;
    font-size: 1rem;
}