.test {
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.grid-column {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 1rem;
}

@media only screen and (max-width: 1500px) {
    .grid-column {
        width: 350px;
    }
}

@media only screen and (max-width: 1300px) {
    .grid-column {
        width: 300px;
    }
}